<meta charset="UTF-8"></meta>
<div class="sidebar" th:data-image="@{/load/img/fondo_app}" style="position: fixed; z-index: 1002;">
    <div class="logo">
        <a th:href="${index!=null} ? '#' : @{/fasp}" class="logo-text" style="white-space: normal; line-height: normal;">
            Herramienta de control Financiero
        </a>
    </div>
    <div class="logo logo-mini">
        <div style="margin: auto; width: 32px; height: 32px;">
            <img th:src="@{/favicon.png}" alt="" class="img-responsive"></img>
        </div>
        <!--<a href="http://www.creative-tim.com/" class="logo-text">-->
            <!--Ct-->
        <!--</a>-->
    </div>

    <div class="sidebar-wrapper scrollStyle">
        <div class="user">
            <div class="photo">
                <!--<img sec:authorize="!isAuthenticated()" th:src="@{/default.jpg}" class="img-responsive"/>-->
                <!--<img sec:authorize="isAuthenticated()" th:src="@{/load/user/img}" class="img-responsive media-object"/>-->
            </div>
            <div class="info">
                <a>
                     <!--<span sec:authorize="isAuthenticated()" sec:authentication="principal.fullName"></span>-->
                    <br/>
<!--                     <span class="label label-default" sec:authentication="principal.role" style="margin:5px;"></span> -->
                         <!--<span class="badge" style="margin:5px;" sec:authorize="isAuthenticated()"-->
			   				<!--sec:authentication="principal.role"> -->
			   			<!--</span>-->
                </a>
                <!--<a data-toggle="collapse" href="#collapseExample" class="collapsed">
                    <span sec:authentication="principal.fullName"></span>
                    <b class="caret"></b>
                </a>-->
                <!--<div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">Edit Profile</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </div>-->
            </div>
        </div>
               <ul  class="nav" style="padding-top:20px;">
<!--                   <li sec:authorize="hasAnyAuthority('FASP_SUPERVISOR_GRAL','FASP_SUPERVISOR', 'FASP_CAPTURA', 'FASP_CONSULTA')"> -->
<!--                   <a  data-toggle="collapse" href="#submenu-2">  -->
<!--                   <span class="sidebar-icon"><i class="fa fa-university fa-lg" aria-hidden="true"></i></span> -->
<!--                    <span class="sidebar-title">Control Financiero</span> -->
<!--                    <b class="caret"></b> -->
<!--                   </a> -->
<!--                   <div class="collapse" id="submenu-2"> -->
<!--                    <ul  class="nav"> -->
	                  <li sec:authorize="hasAnyAuthority('FASP_SUPERVISOR_GRAL','FASP_SUPERVISOR','FASP_CAPTURA', 'FASP_CONSULTA', 'FASP_CONSULTA_GRAL')">
		                  <a data-toggle="modal" data-fasp="control" href="#ctrl-financiero" class="fasp-ctrl">
		                  <i class="fa fa-money" aria-hidden="true"></i>
		                  <p>AUTORIZADO (ORIGEN)</p>
		                  </a>
	                  </li>	                 
	                  <li sec:authorize="hasAnyAuthority('FASP_SUPERVISOR_GRAL','FASP_SUPERVISOR' , 'FASP_CONSULTA','FASP_CAPTURA', 'FASP_CONSULTA_GRAL')">	                  
	                  <a data-toggle="collapse" href="#submenu-3"> 
	                  <i class="fa fa-balance-scale fa-sm"></i>
	                   <p>MODIFICACIONES
	                   <b class="caret text-right"></b></p>

	                   </a>
	                   <div th:class="${modificaciones!=null or adecuaciones!=null} ? 'collapse in' : 'collapse'" id="submenu-3">
	                    <ul  class="nav">
	                    	<li>
			                  <a th:href="${adecuaciones!=null} ? '#' : @{/fasp/adecuaciones}"> 
			                  <i class="fa fa-caret-right" aria-hidden="true"></i>Expediente de autorización</a></li>
	                    	<li>
			                  <a data-toggle="modal" data-fasp="modificacion/registrar" href="#ctrl-financiero" class="fasp-ctrl"> 
			                  <i class="fa fa-caret-right" aria-hidden="true"></i>Registrar</a></li>
			                <li>
			                  <a data-toggle="modal" data-fasp="modificacion" href="#ctrl-financiero" class="fasp-ctrl"> 
			                  <i class="fa fa-caret-right" aria-hidden="true"></i>Ampliaciones y reducciones</a></li>
			                
	                  	</ul>
	                  </div>
	                  <script th:if="${modificaciones!=null or adecuaciones!=null}">
						if (!Boolean(sessionStorage.getItem("sidebar-toggle-collapsed"))) {
							document.getElementById("submenu-3").className = "collapse";
						    console.log("UL --> clase IN quitada");
						  }
						</script>
	                  </li>	   
<!-- 	                  <li sec:authorize="hasAnyAuthority('FASP_SUPERVISOR_GRAL','FASP_SUPERVISOR', 'FASP_CONSULTA','FASP_CAPTURA', 'FASP_CONSULTA_GRAL')"> -->
<!-- 	                  <a data-toggle="modal" href="#" class=""> -->
<!-- 	                  <i class="fa fa-university" aria-hidden="true"></i> -->
<!-- 	                  <p>BANCO DE PROYECTOS</p> -->
<!-- 	                  </a></li>                -->
	                  <li sec:authorize="hasAnyAuthority('FASP_SUPERVISOR_GRAL','FASP_SUPERVISOR', 'FASP_CONSULTA','FASP_CAPTURA', 'FASP_CONSULTA_GRAL')">
	                  <a data-toggle="modal" data-fasp="momentos-contables" href="#ctrl-financiero" class="fasp-ctrl">
	                  <i class="fa fa-random" aria-hidden="true"></i>
	                  <p>AVANCES</p>
	                  </a></li>
<!--                   </ul> -->
<!--                   </div> -->
<!--                   </li> -->
            
                  <li sec:authorize="hasAnyAuthority('FASP_SUPERVISOR_GRAL')">
                  <a data-toggle="collapse" href="#submenu-1">
                         <span class="sidebar-icon"><i class="fa fa-cogs fa-lg" aria-hidden="true"></i></span>
                         <p>CONFIGURACIÓN
                         <b class="caret"></b></p>
                     </a>
                     <div th:class="${filtroCatalogos!=null or configParam!=null} ? 'collapse in' : 'collapse'" id="submenu-1">
                  <ul class="nav">
	                  <li><a th:href="${filtroCatalogos!=null} ? '#' : @{/fasp/config/catalogos}"><i class="fa fa-caret-right" aria-hidden="true"></i>Catálogos</a></li>
	                  <li><a th:href="${configParam!=null} ? '#' : @{/fasp/config/parametros}"><i class="fa fa-caret-right" aria-hidden="true"></i>Parámetros</a></li>
                  </ul>
                  </div>
                 	<script th:if="${filtroCatalogos!=null or configParam!=null}">
						if (!Boolean(sessionStorage.getItem("sidebar-toggle-collapsed"))) {
							document.getElementById("submenu-1").className = "collapse";
						    console.log("UL --> clase IN quitada");
						  }
					</script>
                  </li>
                </ul>
    </div>
</div>